/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
/* GLOBALS */
ul {
  list-style-type: none; }

li a {
  text-decoration: none; }

body {
  display: flex;
  flex-direction: column; }

main {
  width: 100vw;
  height: auto; }

/*NORMALIZE */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Open Sans Condensed', sans-serif; }

/*VARIABLES*/
/* VARIABLES COLORES*/
/*VARIABLES FUENTES*/
/*VARIABLES MEDIDAS*/
/* PARTIALS */
/* FOOTER */
footer {
  width: 100vw;
  height: 20vh;
  display: flex;
  background-color: #262626;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  align-content: center;
  border-top: 1px solid #8BD990; }

footer .seguinos {
  width: 50%;
  height: 50%;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-content: space-between; }

footer .seguinos .t-seguinos {
  color: #F2F2F2;
  text-align: center;
  height: 30%; }

footer .seguinos .social {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 2rem; }

footer .seguinos .social .fab {
  color: #F2F2F2;
  font-size: 2em; }

/* Fin estilo FOOTER */
header {
  width: 100vw;
  height: 20vh;
  margin: auto; }

header #btn-menu {
  display: none; }

header label {
  display: none;
  padding: 2rem;
  width: 100%;
  height: 100%; }

header .fas:hover {
  cursor: pointer;
  color: #8BD990;
  opacity: 0.5; }

header .menu ul {
  display: flex;
  width: 80%;
  justify-content: center;
  gap: 4rem;
  margin: auto;
  padding-top: 2rem; }

header .menu ul > li {
  font-size: 2em;
  padding: 1rem;
  border-right: 1px solid #8BD990; }

header .menu ul > li:hover {
  border-bottom: #8BD990 solid 1px;
  border-right: none; }

header .menu ul > li a {
  color: #F2F2F2;
  font-family: "Poppins", sans-serif;
  font-weight: bold; }

@media screen and (max-width: 560px) {
  header label {
    display: block;
    background-color: #262626; }
  .fas {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #F2F2F2;
    width: 100%;
    text-align: center; }
  header .menu {
    position: absolute;
    background-color: #262626;
    width: 100%; }
  header .menu ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #262626; }
  header nav .menu > li {
    border-right: none; }
  header nav .menu > li:hover {
    border-bottom: #8BD990; } }

.header-pages {
  max-width: 100vw;
  max-height: 20vh;
  background-color: #262626;
  display: flex; }
  .header-pages__picture {
    width: 20%;
    height: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header-pages__picture__img {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center; }
  .header-pages__nav {
    width: 80%;
    height: auto; }
    .header-pages__nav__menu {
      display: flex;
      gap: 2rem;
      margin: 4rem auto;
      justify-content: center;
      align-content: center;
      font-size: 2em; }
      .header-pages__nav__menu__li {
        padding: 1rem;
        border-right: 1px solid #8BD990; }
        .header-pages__nav__menu__li:hover {
          border-bottom: #F2F2F2 solid 1px;
          border-right: none; }
        .header-pages__nav__menu__li a {
          color: #F2F2F2;
          font-family: "Poppins", sans-serif;
          font-weight: bold; }
          .header-pages__nav__menu__li a:hover {
            color: #8BD990; }
  .header-pages #btn-menu {
    display: none; }
  .header-pages .header-pages label {
    display: none;
    padding: 2rem;
    max-width: 100%;
    max-height: 100%; }
  .header-pages .fas {
    color: #F2F2F2;
    display: none; }
  .header-pages .header-pages .fas:hover {
    cursor: pointer;
    color: #8BD990;
    opacity: 0.5; }

/*RESPONSIVE*/
@media (max-width: 560px) {
  header label {
    display: block;
    background-color: #262626; }
  .fas {
    display: flex;
    justify-content: center; }
  header nav .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #262626; }
  header nav .menu > li {
    border-right: none; }
  header nav .menu > li:hover {
    border-bottom: #8BD990; } }

/* PAGES */
/*Banner*/
.body-index {
  background-image: url(../img/banner1.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: auto; }

.banner {
  max-width: 100vw;
  max-height: 80vh;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 2rem;
  padding: 4rem; }
  .banner__img {
    max-width: 30%;
    max-height: 30%;
    padding-bottom: 2rem;
    display: flex;
    align-items: center; }
  .banner__titulo {
    color: #F2F2F2;
    flex-shrink: 2;
    font-size: 12em;
    font-family: "Poiret One", cursive;
    font-weight: bolder; }
  .banner__h2 {
    color: #F2F2F2;
    font-size: 4em;
    flex-shrink: 1;
    font-family: "Poiret One", cursive; }

.animacion {
  animation-name: colores;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 2s; }

/* Fin banner */
/* informacion */
.section-inf {
  width: 100vh;
  max-height: 80vh;
  display: flex;
  flex-wrap: wrap row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  color: #F2F2F2;
  padding: 4rem;
  margin: auto; }
  .section-inf__h2 {
    font-size: 6em;
    font-weight: lighter;
    font-stretch: semi-condensed; }
  .section-inf__p {
    font-size: 2em;
    color: #8BD990;
    font-stretch: semi-condensed;
    font-weight: lighter; }
  .section-inf div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #295440;
    background-size: cover;
    width: 50%;
    height: 50%;
    padding: 4rem;
    margin: 0 4rem; }

/* Fin informacion */
/* categorias */
.section-cat {
  max-width: 100vw;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30rem;
  gap: 2rem; }
  .section-cat__item--1 {
    background-image: url(../img/SVG/producto1.svg);
    background-size: cover;
    background-position-y: center;
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em; }
  .section-cat__item--2 {
    background-image: url(../img/SVG/producto2.svg);
    background-size: cover;
    background-position-y: center;
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em; }
  .section-cat__item--3 {
    background-image: url(../img/SVG/producto3.svg);
    background-size: cover;
    background-position-y: center;
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em; }
  .section-cat__item a {
    color: #F2F2F2;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    padding: 2rem;
    text-align: center;
    font-family: "Poiret One", cursive;
    display: flex;
    justify-content: center;
    align-items: center; }

/* Rustiche index */
.rustiche {
  max-width: 1000vw;
  height: 80vh;
  position: relative;
  margin: 2rem auto;
  border: #262626 solid 2px;
  text-align: center;
  background-image: url("../img/rustiche.jpg");
  background-size: cover;
  background-position: right;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem; }

.rustiche > * {
  z-index: 100;
  position: relative; }

.rustiche > p {
  font-size: 2rem;
  font-family: "Poiret One", cursive;
  color: #F2F2F2;
  padding: 6rem; }

.rustiche::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #262626;
  opacity: 0.4; }

/* Fin Rustiche index */
/*RESPONSIVE*/
@media screen and (max-width: 768px) {
  .section-inf {
    width: 50%;
    height: 50%;
    justify-content: center;
    padding: 0; }
    .section-inf__div {
      width: 50%;
      height: 50%; }
    .section-inf__h2 {
      font-size: 2rem; } }

.section-cat {
  width: 100%;
  height: 50%; }
  .section-cat__item {
    width: 80%;
    height: 50%;
    font-size: 1em; }

/* Contacto */
form {
  width: 80%;
  height: auto;
  margin: 2rem auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  gap: 2rem;
  align-items: center;
  color: #F2F2F2;
  font-size: 2em; }

form .titulo-ctc {
  color: #F2F2F2;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold; }

input {
  width: 80%;
  padding: 2rem; }

textarea {
  width: 80%;
  padding: 2rem;
  min-height: 100px;
  max-height: 200px; }

#boton {
  width: 30%;
  background-color: #295440;
  color: #F2F2F2; }

/* PAG CATALOGO */
.h1-p {
  text-align: center;
  width: 100vw;
  padding: 2rem;
  color: #8BD990;
  background-color: #295440;
  font-weight: lighter;
  font-family: "Poiret One", cursive; }

.cat {
  width: 80vw;
  height: 40vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 4rem;
  background-color: #262626; }
  .cat__img {
    text-align: center;
    width: 20%;
    height: 80%;
    background-image: url(../img/SVG/Hoja-BG-VO.svg);
    background-size: cover;
    padding: 2rem; }
  .cat a {
    color: #F2F2F2;
    text-decoration: none;
    font-size: 2em;
    font-family: "Poiret One", cursive; }
    .cat a:hover {
      color: #8BD990; }

.productos {
  margin: 4rem auto;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 6rem;
  align-content: center;
  justify-content: center;
  align-items: center; }

.card {
  align-items: center;
  text-align: center;
  transition-duration: 0.5s; }

.card:hover {
  transform: scale(1.1); }

.card-body {
  background-color: #295440; }

.card-body .card-text {
  color: #F2F2F2;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 2px; }

/* SOBRE RUSTICHE */
.rus-inf {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  background-color: #262626;
  margin: auto;
  align-items: center; }
  .rus-inf__foto {
    width: 80%;
    height: 50%;
    background-image: url(../img/rustiche.jpg);
    background-size: cover;
    background-position: left;
    background-position-y: center;
    background-attachment: fixed; }
  .rus-inf__texto {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F2F2F2;
    font-family: "Poiret One", cursive; }
    .rus-inf__texto__h1-rus {
      width: 100vw;
      font-size: 4em;
      text-align: center; }
    .rus-inf__texto__p-rus {
      text-align: center;
      font-size: 2rem; }

/* FIN RUSTICHE */
/* TINTES & TELAS */
.tyt {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 2rem auto; }
  .tyt__texto {
    width: 50%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    background-color: #262626;
    color: #F2F2F2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .tyt__texto__titulo-tintes {
      font-size: 2em;
      width: 100%;
      font-weight: bold; }
    .tyt__texto__p-tintes {
      padding: 0 2rem;
      font-size: 1.5em; }
  .tyt__img1 {
    width: 50%;
    height: 100%;
    background-image: url(../img/tintes.jpg);
    background-size: cover;
    margin: 2rem; }
    .tyt__img1__imagen {
      width: 100%;
      height: 100%; }
  .tyt__img2 {
    width: 50%;
    height: 100%;
    background-image: url(../img/TELAS.jpg);
    background-size: cover;
    margin: 2rem; }
    .tyt__img2__imagen {
      width: 100%;
      height: 100%; }

/* FIN TINTES & TELAS */
/*RESPONSIVE*/
@media screen and (max-width: 992px) {
  .tyt__texto__p-tintes {
    font-size: 1em; } }

@media screen and (max-width: 576px) {
  .tyt {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh; }
    .tyt__img1 {
      width: 50%;
      height: 100%; }
    .tyt__img2 {
      width: 50%;
      height: 100%; } }

/* FIN TINTES & TELAS */
/* RESPONSIVE */
@media screen and (max-width: 780px) {
  #container-banner {
    max-height: 50vh; }
  #container-banner .banner .h1-banner {
    font-size: 8em; }
  #container-banner .banner .h2-banner {
    font-size: 4em; } }

@media screen and (max-width: 480px) {
  #container-banner {
    max-height: 25vh; }
  #container-banner .banner .h1-banner {
    font-size: 6em; }
  #container-banner .banner .h2-banner {
    font-size: 1em; } }

@media screen and (max-width: 780px) {
  #container-inf {
    max-height: 30vh;
    padding: 4rem 0; }
  #container-inf .telas {
    max-width: 25vw;
    max-height: 20vh; }
  #container-inf .tintes {
    width: 25vw;
    height: 20vh; }
  #container-inf .estampa {
    max-width: 25vw;
    max-height: 20vh; }
  #container-inf .h2-inf {
    font-size: 2em; }
  #container-inf .p-inf {
    font-size: 1.5em;
    justify-content: center; } }

@media screen and (max-width: 480px) {
  #container-inf .h2-inf {
    font-size: 1.5em; }
  #container-inf .p-inf {
    font-size: 1em; } }

@media screen and (max-width: 480px) {
  #cat-index {
    max-width: 100%;
    max-height: 100%; } }

@media screen and (max-width: 480px) {
  #cat-index .prod-cat {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-content: center; } }

@media screen and (max-width: 480px) {
  #cat-index .cat-titulo {
    font-size: 2em; } }

@media screen and (max-width: 480px) {
  #cat-index .prod-cat > li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 25%;
    font-family: 'Poppins', sans-serif; } }
