
ul {
    list-style-type: none;
    
}

a {
    text-decoration: none;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;       
}
main {
    width: 100vw;
}