/* VARIABLES COLORES*/

$dark: #262626;
$verde: #295440;
$verde-m: #8BD990;
$blanco: #F2F2F2;

/*VARIABLES FUENTES*/
$poppins: 'Poppins', sans-serif;
$poiret: 'Poiret One', cursive;
$fs-sm: 2em;
$fs-md: 4em;
$fs-lg: 6em;
$fs-xlg: 8em;

/*VARIABLES MEDIDAS*/
$sm: 2rem;
$md: 4rem;
$lg: 6rem;
$xlg: 8rem;



