
.header-pages {
    width: 100vw;
    height: 20vh;
    background-color: $dark;
    display: flex;
    gap: $sm;
    align-content: center;
    justify-content: center;
}
.header-pages .picture-pages {
        width: 20%;
        height: 20vh;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-pages .picture-pages img {
            width: 50%;
            height: 100%; 
            display: flex;
            justify-content: center;
            align-content: center;  
            align-items: center;
        } 
    
    .header-pages .menu-pages {
        width: 80%;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .header-pages .menu-pages ul {
            margin: auto;
            font-size: $fs-sm;
            display: flex;
            gap: $sm;
        }
    .header-pages .menu-pages > li {
                padding: 1rem;  
                border-right: 1px solid $verde-m;
            } 
    .header-pages .menu-pages > li:hover {
                    border-bottom: $verde-m solid 1px;
                    border-right: none;  
                }
                
    .header-pages .menu-pages li > a {
                color: $blanco;
                font-family: $poppins;
                font-weight: bold;
                letter-spacing: 1px;
            }

                .header-pages .menu-pages li > a:hover {
                    color: $blanco;
                    
                }
                
                #btn-menu {
                    display: none;
                }   
                .header-pages label {
                    display: none;
                    padding-top: 2rem;
                    width: 100%;
                    height: 100%;
                    margin: auto;
                }
                .fas {
                    color: $blanco;
                    display: none;
                }
                .header-pages .fas:hover {
                    cursor: pointer;
                    color: $verde-m;
                    opacity: 0.5;
                }

/*RESPONSIVE*/
@media (max-width: 768px) {
    .header-pages {
        display: block;
        background-color: $dark;
        width: 100vw;
        height: auto;
    }
   .header-pages .picture-pages {
       display: none;
   }
    .header-pages label {
        display: block;
        background-color: $dark;
}
.fas {
        display: flex;
        justify-content: center;
        align-content: center;
        color: $blanco;
        width: 100%;
        text-align: center;
}

.header-pages .menu-pages {
        position: absolute;
        background-color: $dark;
        width: 100%;
        
        margin-left: -100%;
        transition: all 0.5s;
       
}
.header-pages .menu-pages ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: $dark;
        padding-bottom: $sm;
    }
    .header-pages .menu-pages > li {
                border-right: none;
            }
            .header-pages .menu-pages > li:hover {
                border-bottom: $verde-m;
        }
        .header-pages #btn-menu:checked ~ .menu-pages {
                margin: 0;
        }     
}

            


