
header {
        width: 100vw;
        height: 20vh;
        margin: auto;
}
header #btn-menu {
        display: none;
}   



header label {
        display: none;
        padding: 2rem;
        width: 100%;
        height: 100%;             
}

header .fas:hover {
        cursor: pointer;
        color: $verde-m;
        opacity: 0.5;
}
header .menu ul {
        display: flex;
        width: 80%;
        justify-content: center;
        gap: $md;
        margin: auto;
        padding-top: $sm;
}
header .menu ul > li {
        font-size: $fs-sm;
        padding: 1rem;  
        border-right: 1px solid $verde-m;    
}
header .menu ul > li:hover {
       border-bottom: $verde-m solid 1px;
       border-right: none;       
}

header .menu ul > li a {
        color: $blanco;
        font-family: $poppins;
        font-weight: bold;               
}

@media screen and (max-width: 560px) {
        header label {
                display: block;
                background-color: $dark;
        }
        .fas {
                display: flex;
                justify-content: center;
                align-content: center;
                color: $blanco;
                width: 100%;
                text-align: center;
        }
        header .menu {
                position: absolute;
                background-color: $dark;
                width: 100%;
        }
        header .menu ul {
                display: flex;
                flex-direction: column;
                width: 100%;
                background-color: $dark;
                
                }

                header nav .menu > li {
                        border-right: none;
                }
                header nav .menu > li:hover {
                        border-bottom: $verde-m;
                }


}