
/* PAG CATALOGO */

.h1-p {
    text-align: center;
    width: 100vw;
    padding: 2rem;
    color: $verde-m;
    background-color: #295440;
    font-weight: lighter;
    font-family: $poiret;
}

.cat {
    width: 80vw;
    height: 40vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: $md;
    background-color: $dark; 
    &__img {
        text-align: center;
        width: 20%;
        height: 80%;
        background-image: url(../img/SVG/Hoja-BG-VO.svg);
        background-size: cover;
        padding: $sm;
        }
    a {
        color: $blanco;
        text-decoration: none;
        font-size: $fs-sm;
        font-family: $poiret;
        &:hover {
            color: $verde-m;
        }
    }    
    }

.productos {
    margin: $md auto;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: $lg;
    align-content: center;
    justify-content: center;
    align-items: center;
}
    
    .card {
        align-items: center;
        text-align: center;  
        transition-duration: 0.5s;
   
    }
    .card:hover {
transform: scale(1.1);
    }

    .card-body {
        background-color: $verde;
    }
    .card-body .card-text {
        color: $blanco;
        font-family: $poppins;
        font-weight: bold;
        letter-spacing: 2px;
    }
    /* Responsive Catalogo*/
    @media screen and (max-width: 990px) {
        .cat {
          height: 30vh;
          padding: 0 2rem; }
          .cat__img {
            width: 50%;
            height: 60%; } }
      
      @media screen and (max-width: 576px) {
        .cat {
            display: none; }
          .productos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
            width: 80%;
            padding: 2rem;
            margin: 2rem auto; } }
      
      @media screen and (max-width: 360px) {
        .cat {
          display: none; }
        .productos {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 2rem;
          width: 80%;
          padding: 2rem;
          margin: 2rem auto; } }