/* Contacto */

form {
    width: 80%;
    height: auto;
    margin: $sm auto;
    background: rgba(0, 0, 0, 0.4);
    padding: $sm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
    gap: $sm;
    align-items: center;
    color: $blanco;
    font-size: $fs-sm;
}
form .titulo-ctc {
    color: $blanco;
    text-align: center;
    font-family: $poppins;
    font-weight: bold;
}

input {
    width: 80%;
    padding: $sm;
}
textarea {
    width: 80%;
    padding: $sm;
    min-height: 100px;
    max-height: 200px;
}
#boton {
    width: 30%;
    background-color: $verde;
    color: $blanco;
}
