
/*Banner*/

.body-index {
    background-image: url(../img/banner1.jpg);
    background-size: cover;
    background-attachment: fixed;  
    margin: auto;     
}
.banner {
    max-width: 100vw;
    max-height: 80vh;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center; 
    align-content: center; 
    margin: 2rem;  
    padding: 4rem;  
    &__img {
        max-width: 30%;
        max-height: 30%; 
        padding-bottom: 2rem; 
        display: flex;
        align-items: center;  
    }
    &__titulo {
    color:$blanco;
    flex-shrink: 2; 
    font-size: 12em;
    font-family: $poiret;
    font-weight: bolder;
    }
    &__h2 {
    color: $blanco;
    font-size: $fs-md;
    flex-shrink: 1; 
    font-family: $poiret;
    
    }
}

.animacion {
animation-name: colores;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-delay: 2s;

}


/* Fin banner */

/* informacion */
.section-inf {
    width: 80vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 4rem;
    margin: 2rem auto; 
    &__div {
      background-color: #295440;
      width: 40%;
      height: 80%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      border-radius: 4px; 
      color: $blanco;
      &__h2 {
      color: tomato;
      font-size: 3rem; }
     &__p {
      font-size: $fs-sm;
      padding: 1rem; } }}

        /* Fin informacion */

/* categorias */
.section-cat {
    width: 80vw;
    height: 30vh;
    display: grid;
    margin: 4rem auto 6rem auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    justify-content: center;
    align-items: center; 
    &__item {
      background-image: url(../img/SVG/hojaverde2.svg);
      background-size: cover;
      background-position: bottom;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: left;
      align-items: center;
      padding: 0 0 0 4rem;
      border-radius: 4px;
      transition-duration: 0.5s; 
      &__a {
        font-size: 3em;
        color: #295440;
        text-decoration: none;}
        &__a:hover {
        color: tomato; 
      }}
      &__item:hover {
      transform: scale(1.1); }
      

}

/* Rustiche index */
.rustiche {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
  margin: 4rem auto;
  gap: 2rem; 
  &__texto {
    color: #F2F2F2;
    font-size: $fs-sm;
    font-family: "Poiret One", cursive;
    background-color: #262626;
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 8px; 
    &__p {
      padding: $md; } }
   &__img {
    background-image: url(../img/rustiche.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100%;
    border: none;
    border-radius: 4px; }
   }

/* Fin Rustiche index */

/*RESPONSIVE*/
@media screen and (max-width: 768px) {
.section-inf {
  margin: 0 auto;
  
  &__div {
    height: 60%;
    justify-content: center;
    
  }
}
.section-cat {
  margin: $sm auto;
  &__item {
    height: 80%;
    &__a {
      font-size: $sm;
    }
  }
}
}
@media screen and (max-width: 576px) {
  .section-inf {
    margin: 0 auto;
    width: 100%;
    
    &__div {
      height: 60%;
      justify-content: center;
      
    }
  }
  .section-cat {
    margin: $sm auto;
    width: 100%;
    gap: $sm;
    &__item {
      height: 80%;
      &__a {
        font-size: $sm;
        text-align: center;
      }
    }
  }
  .rustiche {
    width: 90vw;
    height: 50vh;
    margin: auto;
  }
  }
  @media screen and (max-width: 360px) {
    .banner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__titulo {
        font-size: 8em;
      }
      &__h2 {
        font-size: 4em;
        text-align: center;
      }
    }
    .section-inf {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80vw;
      height: auto;
      &__div {
        width: 80vw;
        height: 30vh;
      }
    }
    .section-cat {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80vw;
      height: auto;
      &__item {
        width: 80vw;
        height: 20vh;
        &__a {
          font-size: 3em;
        }
      }
    }
    .rustiche {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80vw;
      height: auto;
      &__texto {
        width: 80vw;
        height: 50vh;
        font-size: $fs-sm;
      }
      &__img {
        width: 80vw;
        height: 30vh;
      }
    }
  }




