
/*Banner*/

.body-index {
    background-image: url(../img/banner1.jpg);
    background-size: cover;
    background-attachment: fixed;  
    margin: auto;     
}
.banner {
    max-width: 100vw;
    max-height: 80vh;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center; 
    align-content: center; 
    margin: 2rem;  
    padding: 4rem;  
    &__img {
        max-width: 30%;
        max-height: 30%; 
        padding-bottom: 2rem; 
        display: flex;
        align-items: center;  
    }
    &__titulo {
    color:$blanco;
    flex-shrink: 2; 
    font-size: 12em;
    font-family: $poiret;
    font-weight: bolder;
    }
    &__h2 {
    color: $blanco;
    font-size: $fs-md;
    flex-shrink: 1; 
    font-family: $poiret;
    
    }
}

.animacion {
animation-name: colores;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-delay: 2s;

}


/* Fin banner */

/* informacion */
.section-inf {
    width: 100vh;
    max-height: 80vh;
    display: flex;
    flex-wrap: wrap row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    color: $blanco;
    padding: 4rem;
    margin: auto;
    

    &__h2 {
        font-size: 6em;
        font-weight: lighter;
        font-stretch: semi-condensed;  
    }
    &__p {
    font-size: $fs-sm;
    color: $verde-m; 
    font-stretch: semi-condensed;
    font-weight: lighter;
    }
    
    @each $inf in div { 
           #{$inf} {
            display: flex;    
            flex-direction: column;
            justify-content: center;   
            align-content: center;
            align-items: center; 
            text-align: center;
            background-color: $verde;
            background-size: cover;
            width: 50%;
            height: 50%;
            padding: $md;
            margin: 0 $md;
            
              }
           }
        }

        /* Fin informacion */

/* categorias */
.section-cat {
    max-width: 100vw;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30rem;
    gap: 2rem;
    
   
    &__item {
        @for $i from 1 through 3 {
            &--#{$i} {
                background-image: url(../img/SVG/producto#{$i}.svg);
                background-size: cover;
                background-position-y: center;
                width: 80%;
                height: 80%;
                margin: auto; 
                display: flex;
                justify-content: center;   
                align-items: center; 
                font-size: 3em;
                }  
            }
     a {
        color: $blanco;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        padding: $sm;
        text-align: center;
        font-family: $poiret;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
}

/* Rustiche index */
.rustiche {
    max-width: 1000vw;
    height: 80vh;
    position: relative;
    margin: $sm auto;
    border: $dark solid 2px;
    text-align: center;
    background-image: url('../img/rustiche.jpg');
    background-size: cover;  
    background-position: right;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $lg;
    
     }
     .rustiche > * {
    z-index: 100;
    position: relative;
    
    }
   
    .rustiche > p {
        font-size: $sm;
        font-family: $poiret;
        color: $blanco;
        padding: $lg;

    }

.rustiche::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $dark;  
    opacity: 0.4;

      
}

/* Fin Rustiche index */
/*RESPONSIVE*/
@media screen and (max-width: 768px) {
    .section-inf {
        width: 50%;
        height: 50%;
        justify-content: center;
        padding: 0;

        &__div {
            width: 50%;
            height: 50%;
        }
            &__h2 {
                font-size: $sm;
            }
           
    }
}
.section-cat {
    width: 100%;
    height: 50%;
    
    &__item {
        width: 80%;
        height: 50%;
        font-size: 1em;
    }
}


