
/*variables*/
$dark: #262626;
$verde: #295440;
$verde-m: #8BD990;
$poiret: 'Poiret One', cursive;
$blanco: #F2F2F2;
$sm: 2rem;
$md: 4rem;
$lg: 6rem;
$xlg: 8rem;
$widht-max: 100vw;
$heigh-max: 100vh;
$widht: 80vw;
$heigh: 80vh;
$fs-sm: 2em;
$fs-md: 4em;
$fs-lg: 6em;
$fs-xlg: 8em;

/*variables*/



.body-index {
    background-image: url(../img/banner1.jpg);
    background-size: cover;
    background-attachment: fixed;
        
}
.banner {
    max-width: $widht-max;
    max-height: $heigh;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center; 
    align-content: center; 
    margin: 2rem;  
    padding: 4rem;  
    &__img {
        max-width: 30%;
        max-height: 30%; 
        padding-bottom: 2rem; 
        display: flex;
        align-items: center;  
    }
    &__titulo {
    color:$blanco;
    flex-shrink: 2; 
    font-size: 12em;
    font-family: $poiret;
    font-weight: bolder;
    }
    &__h2 {
    color: $blanco;
    font-size: 4em;
    flex-shrink: 1; 
    font-family: $poiret;
    
    }
}

.animacion {
animation-name: colores;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-delay: 2s;

}

@keyframes colores {
    0% {
        color:#194769;
    }
    20% {
        color: #47EBA8;
    }
    40% {
        color: #FFA936;
    }
    60% {
        color: #F0717E;
    }
    80% {
        color: #D6EB00;
    }
    100% {
        color: #295440;
    }
}
/* Fin banner */

/* informacion */
.section-inf {
    max-width: 100vw;
    max-height: 80vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;
    padding: 4rem;
    

    &__h2 {
        font-size: 4em;
        color: $blanco;
        font-weight: lighter;
        font-stretch: semi-condensed;  
    }
    &__p {
    font-size: 2em;
    color: #cde7a2; 
    font-stretch: semi-condensed;
    font-weight: lighter;
    }
    
    @each $inf in div { 
           #{$inf} {
            display: flex;    
            flex-flow: wrap column;
            justify-content: center;   
            align-content: center;
            align-items: center; 
            background-color: $verde;
            width: 20vw;
            height: 25vh;
            filter:alpha(opacity=70);
        -moz-opacity:.50;opacity:.70;
              }
           }
        }

        /* Fin informacion */

/* categorias */
.section-cat {
    max-width: 100vw;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30rem;
    gap: 2rem;
    
   
    &__item {
        @for $i from 1 through 3 {
            &--#{$i} {
                background-image: url(../img/pattern#{$i}.jpg);
                background-size: cover;
                background-position-y: center;
                width: 80%;
                height: 80%;
                margin: auto; 
                display: flex;
                justify-content: center;   
                align-items: center; 
                font-size: 3em;
                }  
            }
     a {
         color: $blanco;
         margin: 2rem;
         background: rgba(0, 0, 0, 0.5);
        background-size: cover;
        opacity: 0.4;
        padding: 2rem;

        

     }
    }
}

/* Rustiche index */
.rustiche {
    width: 80vw;
    height: 100vh;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(../img/rustiche.jpg);
    background-size: cover;
    &__texto {
        width: 50%;
        height: 80%;
        font-family: $poiret;
        color: $blanco;
        
        &--titulo {
            font-size: 6em;
            text-align: center;
        }
        &--p {
            font-size: 4em;
            text-align: center;
        }  
        
    }
    

}


/* Fin Rustiche index */

