
/* SOBRE RUSTICHE */

.rus-inf {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: $sm;
    background-color: $dark;
    margin: auto;
    align-items: center;
    &__foto {
        width: 80%;
        height: 50%;
        background-image: url(../img/rustiche.jpg);
        background-size: cover;
        background-position: left;
        background-position-y: center;
        background-attachment: fixed;
        margin-top: $sm;
    }
    &__texto {
        width: 50%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $blanco;
        font-family: $poiret;
        
        &__h1-rus {
            width: 100vw;
            font-size: $fs-md;
            text-align: center;
            
        }
        &__p-rus {
            text-align: center;
            font-size: $sm;

        }
    
}

}

/* FIN RUSTICHE */
/* RESPONSIVE*/
@media screen and (max-width: 560px) {
    .rus-inf__foto {
      background-position: right;
      background-size: cover;
      background-repeat: no-repeat; }
    .rus-inf__texto {
      width: 80%;
      margin: 0 auto; } }
  
  @media screen and (max-width: 360px) {
    .rus-inf__foto {
      height: 50%;
      background-position: center;
      background-size: contain;
      background-position-y: top;
      background-attachment: local;
      font-size: 1em;
     } }