/* TINTES & TELAS */

.tyt {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: $sm auto;

    &__texto {
        width: 50%;
        height: 100%;
        font-family: $poppins;
        background-color: $dark;
        color: $blanco;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        
        &__titulo-tintes {
            font-size: $fs-sm;
            width: 100%;
            font-weight: bold; 

        }    
        &__p-tintes {
            padding: 0 $sm;
            font-size: 1.5em;
        }
    }
    &__img1 {
        width: 50%;
        height: 100%;
        background-image: url(../img/tintes.jpg);
        background-size: cover;
        margin: $sm;
        &__imagen {
            width: 100%;
            height: 100%;
        }

    }
    &__img2 {
        width: 50%;
        height: 100%;
        background-image: url(../img/TELAS.jpg);
        background-size: cover;
        margin: $sm;
        &__imagen {
            width: 100%;
            height: 100%;
        }
    }
    
       
}

/* FIN TINTES & TELAS */
/*RESPONSIVE*/
@media screen and (max-width: 992px) {
    .tyt {
        height: 50vh;
        &__texto {
            width: 80%;
            
        }
    }
    .tyt__texto__p-tintes {
      font-size: 1em; } }
  
  @media screen and (max-width: 576px) {
    .tyt {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      padding: $sm;
     }
      .tyt__img1 {
        width: 80%;
        height: 100%; }
      .tyt__img2 {
        width: 80%;
        height: 100%; } }
       